.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-border {
  border-radius: 10px;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.jobs-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

@media (min-width: 900px){
    .jobs-container .job {
        width: calc((100%/3) - 20px);
        margin: 20px 10px;
    }
}
.modal.hide {
    display: none; /* Hidden by default */
}
.modal.active {
    display: block;
}
/* modal */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  span.close {
    font-size: 28px;
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 5px;
  }
  .close {
    color: #aaa;
    float: right;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-btns {
    display: flex;
    justify-content: center;
  }

  .modal-btns > * {
    margin: 0 5px;
    font-weight: 300;
    color: white;
  }
  .modal-btns > button:hover {
    color: white;
  }
/* end of modal */

.nav-admin {
  position: relative;
}

.nav-admin sub {
  position: absolute;
  top: 0;
  padding-left: 9px;
  height: 0;
}

/* department */
.dept-container {
  display: flex;
  flex-wrap: wrap;
}
.dept-block {
  padding: 20px;
  flex-direction: column;
  height: 100px;
  background: #E2861B;
  transition: .7s ease;
  color: #fff;
  margin: 10px;

}
@media (min-width: 800px) {
  .dept-block {
    width: calc((100%/4) - 20px);
  }
}
/* department */
