{% extends "layout.html" %}

{% block title %}
    Careers Page
{% endblock %}

{% block main %}
    <section>
        <div class="filter">
            <form method="post" action="/careers">
                <select id="deptFilter" onchange="filterByDept()">
                    <option selected value="all">Show All</option>
                    {% for dept in depts %}
                        <option value="{{ dept['id'] }}" id="dept_{{ dept['id'] }}" >{{ dept['name'] }}</option>
                    {% endfor %}
                </select>
                <!-- <input type="" id="dept_id" value=""/> -->
            </form>
        </div>

        <script>
            // include selected department ID in URL
            var inputParams = new URLSearchParams(window.location.search);
            var val;

            function filterByDept() {
                val = document.getElementById("deptFilter").value;

                let currentURL = new URL(window.location.href);

                // manipulate url params value
                if(inputParams.has("dept_id")) {
                    inputParams.set("dept_id", val);
                } else {
                    inputParams.append("dept_id", val);
                }

                currentURL.search = inputParams.toString();

                window.history.replaceState({}, '', currentURL);
                // end of manipulate url params value

                // document.getElementById("dept_id").value = val;

                // AJAX approach
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/careers?dept_id=' + val, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            updateJobs(response);
                        } else {
                            console.error('Error getting career data');
                        }
                    }
                }
                xhr.send();
            }
            window.onload = filterByDept;

            // retain selected data on select element
            if(inputParams.has("dept_id")) {
                document.getElementById("dept_" + inputParams.get("dept_id")).setAttribute("selected", "selected");
            }

            function updateJobs(response) {
                let jobsContainer = document.getElementById("jobs-container");
                jobsContainer.innerHTML = '';

                response.jobs.forEach(function (job) {
                    let jobEntry = document.createElement('div');
                    jobEntry.className = 'job';

                    // job title
                    let title = document.createElement('h3');
                    title.textContent = job.title;

                    // dept data
                    let dept = document.createElement('div');
                    dept.className = 'dept-name';
                    let deptSpan = document.createElement('span');

                    var matchDept = response.depts.find(function (dept) {
                        return dept.id === job.dept_id;
                    })

                    if(matchDept) {
                        deptSpan.textContent = matchDept.name;
                    }

                    // end of dept

                    // status
                    let statCont = document.createElement('span');
                    let statTitle = document.createElement('span');
                    statTitle.className = 'status';

                    if(job.status == 'true') {
                        statTitle.textContent = 'Active';
                    } else {
                        statTitle.textContent = 'Draft';
                    }
                    // end of status

                    jobEntry.appendChild(title);
                    jobEntry.appendChild(dept);
                    dept.appendChild(deptSpan);
                    jobEntry.appendChild(statCont);
                    statCont.appendChild(statTitle);

                    jobsContainer.appendChild(jobEntry);
                })
            }

        </script>

        <div class="jobs-container" id="jobs-container">
            {% for job in results %}
                {% if session['user_id'] %}
                    <div class="job">
                        <h3>{{ job['title']}}</h3>

                        <div class="dept-name">
                            {% for dept in depts %}
                                {% if dept['id'] == job['dept_id'] %}
                                    <span>{{ dept['name'] }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <span>Status:
                            <span name="status">
                                {% if job['status'] == 'false' %}
                                    Draft
                                {% else %}
                                    Active
                                {% endif %}
                            </span>
                        </span>

                        <div class="btns">
                            <a class="btn btn-primary" id="job-read-more" name ="job-read-more" href="/job?job-read-more={{ job['id']}}">Read More</a>
                            <a class="btn btn-primary" id="job-edit" name ="job-edit" href="/update?job-edit={{ job['id']}}">Edit</a>
                            <button type="button" class="btn btn-danger btn-del" data-id="{{ job['id']}}" data-jobTitle="{{ job['title']}}">Delete</button>
                        </div>
                    </div>
                {% else %}
                    {% if job['status'] == 'true' %}
                        <div class="job">
                            <h3 name="title">{{ job['title']}}</h3>

                            <div>
                                <label>Department:</label>
                                {% for dept in depts %}
                                    {% if dept['id'] == job['dept_id'] %}
                                        <strong>{{ dept['name'] }}</strong>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="btns">
                                <a class="btn btn-primary" id="job-read-more" name ="job-read-more" href="/job?job-read-more={{ job['id']}}">Read More</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- modal -->
        <div id="modal" class="modal hide">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p></p>
                <div class="modal-btns">
                    <form action="/delete" method="post">
                        <input value="" name="job-id" id="job-id" type="hidden"/>
                        <button class="btn btn-danger" id="job-delete">Proceed</button>
                    </form>
                    <button class="btn btn-primary close" id="back" type="button">Cancel</button>
                </div>
            </div>
        </div>

        <script>
            // this is to toggle the modal and populate it with details of item for deletion
            var dltModal = document.getElementById('modal');

            document.querySelectorAll('.btn-del').forEach(function(event) {
                event.addEventListener('click', function(){
                    var id = event.getAttribute('data-id');
                    var jobTitle = event.getAttribute('data-jobTitle');

                    dltModal.querySelector('p').innerHTML = "Are you sure you want to delete \"" + jobTitle + "\"?";

                    document.getElementById("job-id").value = id;

                    dltModal.classList.toggle('active');
                    dltModal.classList.toggle('hide');
                })
            })
            // end

            // close btns to dismiss modals
            document.querySelectorAll('.close').forEach(function(element) {
                element.addEventListener('click', function(){
                    dltModal.classList.toggle('active');
                    dltModal.classList.toggle('hide');
                })
            })
            // pop up only on delete btn
            // fix buttons
        </script>
    </section>
{% endblock %}
